@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #0D0D0D;
  --secondary: #1F1F1F;
  --tertiary: #0597F2;
  --quaternary: #D96277;
  --text-primary: #FFFFFF;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--primary);
  color: var(--text-primary);
}
